USE [fwsdb_nfwfl_dev]
GO
/****** Object:  Table [dbo].[Organism]    Script Date: 5/26/2020 1:38:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organism](
	[Organism_ID] [int] IDENTITY(1,1) NOT NULL,
	[Class] [varchar](50) NULL,
	[Subclass] [varchar](50) NULL,
	[Order] [varchar](50) NULL,
	[Suborder] [varchar](50) NULL,
	[Family] [varchar](50) NULL,
	[Subfamily] [varchar](50) NULL,
	[Genus] [varchar](50) NULL,
	[Subgenus] [varchar](50) NULL,
	[Species] [varchar](50) NULL,
	[Subspecies] [varchar](50) NULL,
	[Variety] [varchar](50) NULL,
	[Common_Name] [varchar](50) NULL,
	[Previous_Designation] [varchar](200) NULL,
 CONSTRAINT [PK_Organism] PRIMARY KEY CLUSTERED 
(
	[Organism_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Organism] ON 

INSERT [dbo].[Organism] ([Organism_ID], [Class], [Subclass], [Order], [Suborder], [Family], [Subfamily], [Genus], [Subgenus], [Species], [Subspecies], [Variety], [Common_Name], [Previous_Designation]) VALUES (1, N'Reptilia', N'Anapsida', N'Testudines', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Organism] ([Organism_ID], [Class], [Subclass], [Order], [Suborder], [Family], [Subfamily], [Genus], [Subgenus], [Species], [Subspecies], [Variety], [Common_Name], [Previous_Designation]) VALUES (2, N'Reptilia', N'Anapsida', N'Testudines', N'Cryptodira', N'Cheloniidae', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Organism] ([Organism_ID], [Class], [Subclass], [Order], [Suborder], [Family], [Subfamily], [Genus], [Subgenus], [Species], [Subspecies], [Variety], [Common_Name], [Previous_Designation]) VALUES (3, N'Amphibia', NULL, N'Gymnophiona', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Limbless Amphibians', NULL)
GO
SET IDENTITY_INSERT [dbo].[Organism] OFF
