USE [fwsdb_nfwfl_dev]
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPaneCount' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Herpetology_Organism_All'
GO
EXEC sys.sp_dropextendedproperty @name=N'MS_DiagramPane1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Herpetology_Organism_All'
GO
/****** Object:  View [dbo].[VW_Herpetology_Organism_All]    Script Date: 5/26/2020 1:33:58 AM ******/
DROP VIEW [dbo].[VW_Herpetology_Organism_All]
GO
/****** Object:  View [dbo].[VW_Herpetology_Organism_All]    Script Date: 5/26/2020 1:33:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [dbo].[VW_Herpetology_Organism_All]
AS
SELECT        dbo.Organism.Organism_ID, dbo.Organism.Class, dbo.Organism.Subclass, dbo.Organism.[Order], dbo.Organism.Suborder, dbo.Organism.Family, dbo.Organism.Subfamily, dbo.Organism.Genus, dbo.Organism.Subgenus, 
                         dbo.Organism.Species, dbo.Organism.Subspecies, dbo.Organism.Variety, dbo.Organism.Common_Name, dbo.Organism.Previous_Designation, dbo.Herpetology_Specimen.Specimen_ID, 
                         dbo.Herpetology_Specimen.Specimen_Sex, dbo.Herpetology_Specimen.Specimen_Age, dbo.Herpetology_Specimen.NFWFL_Num, dbo.Herpetology_Specimen.REP_Num, dbo.Herpetology_Specimen.Deaccessioned_To, 
                         dbo.Herpetology_Specimen.Deaccessioned_Reason, dbo.Herpetology_Specimen.Material, dbo.Herpetology_Specimen.Prep_By, dbo.Herpetology_Specimen.Specimen_Owner, dbo.Herpetology_Specimen.Accession_Num, 
                         dbo.Herpetology_Specimen.ESA, dbo.Herpetology_Specimen.CITES, dbo.Herpetology_Specimen.Document_Reference, dbo.Locality_of_Origin.Locality_ID, dbo.Locality_of_Origin.Locality_Desc, dbo.Physical_Storage_Location.Location_ID, 
                         dbo.Physical_Storage_Location.Location_Desc, CONCAT(dbo.Organism.Genus, ' ', dbo.Organism.Species) AS 'Binomial Nomenclature'
FROM            dbo.Herpetology_Specimen INNER JOIN
                         dbo.Organism ON dbo.Herpetology_Specimen.Organism_ID = dbo.Organism.Organism_ID INNER JOIN
                         dbo.Locality_of_Origin ON dbo.Herpetology_Specimen.Locality_ID = dbo.Locality_of_Origin.Locality_ID INNER JOIN
                         dbo.Physical_Storage_Location ON dbo.Herpetology_Specimen.Location_ID = dbo.Physical_Storage_Location.Location_ID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[35] 4[26] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Herpetology_Specimen (dbo)"
            Begin Extent = 
               Top = 9
               Left = 18
               Bottom = 333
               Right = 308
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Organism (dbo)"
            Begin Extent = 
               Top = 6
               Left = 450
               Bottom = 136
               Right = 652
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Locality_of_Origin (dbo)"
            Begin Extent = 
               Top = 216
               Left = 821
               Bottom = 312
               Right = 991
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Physical_Storage_Location (dbo)"
            Begin Extent = 
               Top = 104
               Left = 816
               Bottom = 200
               Right = 986
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Herpetology_Organism_All'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'VW_Herpetology_Organism_All'
GO
